@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

nav {
  background: #eeedde;
}

* {
  margin: 0;
  padding: 0;
}

.contenar {
  max-width: 1166px;
  margin: 0 auto;
  /* ======================== navbar start================= */
}
nav ul li {
  list-style: none;
  margin-left: 100px;
  font-size: 16px;
  font-weight: 300;
  color: #203239;
  position: relative;
}
nav ul li:hover {
  font-weight: 600;
}

nav ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #f6762e;
  left: 50%;
  bottom: -10px;
  position: absolute;
  transform: translateX(-50%);
}

nav ul li:hover::after {
  width: 50%;
}

nav ul {
  display: flex;
}
nav .wrepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ==================== navbar end==================== */
/* ==================== banner start==================== */

#benner {
  background: #eeedde;
  padding-top: 165px;
  padding-bottom: 120px;
}
#benner .text_area {
  width: 70%;
}
#benner .img_area {
  width: 30%;
}
#benner .img_text {
  display: flex;
}
#benner .text_area h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 150%;
  color: #203239;
  margin-bottom: 24px;
}
#benner .text_area p {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: rgb(32, 50, 57, 55%);
  width: 544px;
  height: 60px;
  margin-bottom: 55px;
}
#benner .text_area input {
  width: 508px;
  height: 70px;
  border-radius: 15px;
  border: none;
  padding-left: 56px;
  background: #ffffff;
}
#benner .text_area input::placeholder {
  font-size: 16px;
  font-weight: 300;
  color: #203239;
  font-family: "Poppins", sans-serif;
}
#benner .text_area .input_icon {
  position: relative;
}
#benner .text_area .bennericon {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

#benner .text_area .input_button {
  display: flex;
}
#benner .text_area button {
  width: 138px;
  height: 70px;
  background: #ffffff;
  border-radius: 15px;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 300;
  color: #203239;
  border: none;
}

/* ==================== banner end==================== */

/* ==================== 3rdpart start ==================== */

#rdpart {
  padding: 100px 0px 102px 0px;
}

#rdpart h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  width: 533px;
  height: 108px;
}

#rdpart .propate_itam {
  width: 300px;
  border-radius: 10px;
  padding: 20px 33px;
  position: relative;
}

#rdpart .propate_itam:hover {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 1);
}

#rdpart .propate_itam h3 {
  font-size: 16px;
  font-weight: 500;
  color: #203239;
  margin-bottom: 8px;
}

.propate_itam::after {
  content: "";
  width: 8px;
  height: 30px;
  background: #ff7527;
  left: 0;
  top: 17px;
  position: absolute;
  border-radius: 6px;
}

#rdpart .three_four {
  display: flex;
  justify-content: space-between;
}
#rdpart .three_four h4 {
  font-size: 16px;
  font-weight: 500;
  color: #ff7527;
  align-items: center;
}
#rdpart .propate_itam p {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #203239;
  width: 235px;
  height: 150px;
  margin-bottom: 48px;
}
#rdpart .propate_itam a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #203239;
}
#rdpart .propate_itamicon {
  margin-left: 8px;
}

#rdpart .protik {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

/* ==================== 3rdpart end==================== */

/* ==================== favorit start==================== */
#favorit {
  background: #eeedde;
  padding-top: 68px;
  padding-bottom: 163px;
}
#favorit .left_side {
  width: 50%;
}

#favorit .right_side {
  width: 50%;
  align-items: center;
}
#favorit .right_side .freediv {
  width: 100%;
  height: 257px;
}
#favorit .left_side p {
  font-size: 16px;
  font-weight: 500;
  color: #ff7527;
  margin-top: 68px;
}
#favorit .left_side h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  margin-top: 8px;
}

#favorit .left_side .imgtow {
  position: absolute;
  margin-top: 124px;
  margin-left: -163px;
}
#favorit .left_side .imgone {
  margin-top: 64px;
}

#favorit .right_side h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  color: #203239;
  width: 507px;
  height: 108px;
  margin-bottom: 24px;
}
#favorit .right_side p {
  font-size: 16px;
  font-weight: 300;
  color: #203239;
  width: 570px;
  height: 90px;
  margin-bottom: 48px;
}
#favorit .right_side button {
  padding: 13px 41px;
  border-radius: 10px;
  background: none;
  
}
#favorit .right_side button a {
  font-size: 16px;
  font-weight: 600;
  color: #203239;

  text-decoration: none;

  
}
#favorit .right_side button a:hover {
  background: #203239;
  color: #ffffff;
}

.aone {
  margin-right: 12px;
}
.atow {
  margin-left: 48px;
}

#favorit .left_right {
  display: flex;
}
/* ==================== favorit end==================== */

/* ==================== kota start==================== */
#kota {
  margin-top: 69px;
  margin-bottom: 68px;
}
#kota .fast_part p {
  font-size: 16px;
  font-weight: 500;
  color: #ff7527;
  margin-bottom: 8px;
}
#kota .fast_part h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  color: #203239;
  margin-bottom: 68px;
}
#kota .fast_part .imgess {
  display: flex;
  justify-content: space-between;
}

#kota .last_part .one h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  color: #203239;
  margin-top: 16px;
}
#kota .last_part .one p {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #203239;
  width: 356px;
  height: 90px;
  margin-top: 8px;
}

#kota .last_part .tow h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  color: #203239;
  margin-top: 16px;
}
#kota .last_part .tow p {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #203239;
  width: 356px;
  height: 60px;
  margin-top: 8px;
}

#kota .last_part .three h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  color: #203239;
  margin-top: 16px;
}

#kota .last_part .three p {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #203239;
  width: 356px;
  height: 90px;
  margin-top: 8px;
}
#kota .last_part {
  display: flex;
  justify-content: space-between;
}

/* ==================== kotha end==================== */

/* ==================== kami start==================== */

#kami {
  background: #eeedde;
  padding-top: 26px;
  padding-bottom: 48px;
}

#kami .text_perent {
  display: flex;
}
#kami .text_left {
  width: 70%;
}
#kami .text_right {
  width: 30%;
}
#kami .text_left h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  color: #203239;
  margin-bottom: 74px;
}
#kami .text_left .fotter_top {
  width: 274px;
  height: 167px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  padding: 14px 41px;
  box-sizing: border-box;
  gap: 23px;
  padding-top: 25px;
}
.fottertopicon {
  font-size: 34px;
}
#kami .fotter_top .hpa h4 {
  font-size: 16px;
  font-weight: 500;
  color: #203239;
  margin-bottom: 8px;
}
#kami .fotter_top .hpa p {
  font-size: 16px;
  font-weight: 400;
  color: #203239;
  margin-bottom: 27px;
}

#kami .fotter_top .hpa .buton {
  width: 109px;
  height: 44px;
  background: #203239;
  border: 1px solid black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
 
}
#kami .text_right h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 150px;
  color: #203239;
}
#kami .text_right .imageh {
  align-items: center;
}
.kami_div {
  display: flex;
  gap: 24px;
}
/* ==================== kami end==================== */
/* ==================== fotter start==================== */
#fotter {
  background: #203239;
  padding-top: 31px;
  padding-bottom: 31px;
}

.footer_wrapper {
  height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fotter_icon ul {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 64px;
  list-style: none;
}
.fotter_icon ul li a {
  color: #eeedde;
  font-size: 24px;
  transition: all linear 0.3s;
  list-style: none;
}

.fotter_perent {
  display: flex;
  justify-content: space-between;
}

/* ==================== fotter end==================== */
